//
// Style
//

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			    box-sizing: border-box;
}

//
// $default-float
// $opposite-float
// $default-direction
// $opposite-direction
//

body {
  background-color: #ecf0f1;
  direction: $default-direction;
}

.row {
	max-width: 50em;
	margin: 0 auto;
  padding: 2em 4em;
  margin: 100px auto 0 auto;
  overflow: hidden;
  background-color: #fff;
}

.column {
	padding: 1em;
	float: $default-float;
}

main { width: 75%; }

aside { width: 25%; }