<!DOCTYPE HTML>
<html lang="en" ng-app="Multilingual">
<head>
	<title></title>
	<meta charset="utf-8">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>

  <div class="wrapper">

    <h2>{{ 'HELLO' | translate }}</h2>

    <h2 translate>HELLO</h2>
    <h2 translate="HELLO"></h2>

    <div ng-controller="LanguageSwitchController">

      <!-- ng-show="lang == 'en'" -->

      <button ng-click="changeLanguage('ar')" translate="button_lang_ar" class="button button-small"></button>

      <button ng-click="changeLanguage('en')" translate="button_lang_en" class="button button-small"></button>

    </div>
  </div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
  <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>