<!DOCTYPE HTML>
<html lang="{{ lang }}" ng-app="Multilingual">
<head>
  <title translate="TITLE"></title>
  <meta charset="utf-8">
  <link ng-href="css/{{ default_direction }}-app.css" rel="stylesheet">
</head>

<body>

  <div class="row">

    <main class="column">
      <h2 translate="HELLO"></h2>
      <p translate="WELCOME_MESSAGE"></p>
    </main>

    <aside class="column">
      <div ng-controller="LanguageSwitchController">
        <button ng-show="lang == 'en'" ng-click="changeLanguage('ar')" translate="BUTTON_LANG_AR"></button>
        <button ng-show="lang == 'ar'" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
      </div>
    </aside>

  </div><!-- row -->

  <script src="js/app.min.js"></script>
</body>
</html>