<!DOCTYPE HTML>
<html lang="en" ng-app="Multilingual">
<head>
  <title>Multilingual</title>
  <meta charset="utf-8">
  <link href="css/{{default_direction}}-app.min.css" rel="stylesheet">
</head>

<body>

  <div class="row">

    <main class="column">
      <h2>{{ 'HELLO' | translate }}</h2>
    </main>

    <aside class="column">
      <div ng-controller="LanguageSwitchController">
        <button ng-show="lang == 'en'" ng-click="changeLanguage('ar')" translate="button_lang_ar" class="button button-small"></button>
        <button ng-show="lang == 'ar'" ng-click="changeLanguage('en')" translate="button_lang_en" class="button button-small"></button>
      </div>
    </aside>

  </div><!-- row -->

  <script src="js/app.min.js"></script>
</body>
</html>